<ion-header>
  <ion-navbar color="calm">
    <button
      ion-button
      menuToggle
    >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Geolocalização</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Latitude</ion-label>
      <ion-input
        #latitude
        type="text"
        value="-20.282223"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Longitude</ion-label>
      <ion-input
        #longitude
        type="text"
        value="-45.539444"
      ></ion-input>
    </ion-item>
  </ion-list>
  <button
    ion-button
    block
    (click)="verificarCoordenadas(latitude.value, longitude.value)"
  >
    Verificar coordenadas acima
  </button>
  <h4>Coordenadas</h4>
  <ion-item>
    <p>Latitude</p>
    <p>
      {{coordenadas.latitude | number : '1.2-4'}}
    </p>
  </ion-item>
  <ion-item>
    <p>Longitude</p>
    <p>
      {{coordenadas.longitude | number : '1.2-4'}}
    </p>
  </ion-item>

  <br>

  <h4>Localização</h4>
  <ion-item>
    <p>Cidade</p>
    <p>{{endereco.city || endereco.town }}</p>
  </ion-item>
  <ion-item>
    <p>Estado</p>
    <p>{{endereco.state}}</p>
  </ion-item>
  <ion-item>
    <p>País</p>
    <p>{{endereco.country}}</p>
  </ion-item>
  <button
    ion-button
    block
    (click)="lerGPS()"
  >
    Ler GPS
  </button>
</ion-content>
