<ion-header>
  <ion-navbar>
    <ion-title>Lanterna</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button
    ion-button
    block
    (click)="toggleLanterna()"
  >
    {{ acao }} lanterna
  </button>
</ion-content>
