<ion-header>
  <ion-navbar>
    <ion-title>Informações sobre a bateria</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h1>Dados da bateria</h1>
    <div>
      <ion-icon
        name="battery-full"
        [color]="batteryColor"
      ></ion-icon>
    </div>
    <h3>
      Nível da bateria:
      {{ statusBateria ? statusBateria.level + '%' : '?' }}
    </h3>
    <br>
  </div>
</ion-content>
