<ion-header>
  <ion-navbar>
    <ion-title>
      Exemplos com Ionic Native
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button
    ion-button
    block
    (click)="abrirPagina('VibrationPage')"
  >
    Vibração
  </button>
  <button
    ion-button
    block
    (click)="abrirPagina('FlashlightPage')"
  >
    Lanterna
  </button>
  <button
    ion-button
    block
    (click)="abrirPagina('BatteryPage')"
  >
    Bateria
  </button>
  <button
    ion-button
    block
    (click)="abrirPagina('GeolocalizacaoPage')"
  >
    Geolocalização
  </button>
</ion-content>
