<ion-header>
  <ion-navbar>
    <ion-title>Vibração</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button
    ion-button
    block
    (click)="vibrarDispositivo(1000)"
  >
    Vibrar por 1 segundo
  </button>
  <button
    ion-button
    block
    (click)="vibrarDispositivo(2000)"
  >
    Vibrar por 2 segundos
  </button>
</ion-content>
